
{% block body -%}
    {#{{ form(form) }}#}
    {{ form_start(form, {'method': 'post', 'action': path('demande_new')} ) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom,{'label':'Nom'}) }}
        
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom,{'label':'Prenom'}) }}
        
        {{ form_label(form.email) }}
        {{ form_widget(form.email,{'label':'Email'}) }}
        
        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone,{'label':'Telephone'}) }}
    <p class="signin button">
        
        <input type="submit" value="Demander un code d'inscription" />
    </p>
{{ form_end(form) }}
{% endblock %}
