{% extends 'MyAppUserBundle:Default:base.html.twig' %}


{% block body -%}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="box box-primary">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="ion ion-clipboard"></i>

                    <h3 class="box-title">Carte fidelites</h3>
                    <a class="btn btn-default pull-right" href="{{ path('cartefidelites_new') }}">
                        Ajouter une carte
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Proprietaire</th>
                <th>Datecreationcarte</th>
                <th>Soldecarte</th>
                <th>Evaluationcarte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carteFidelite in carteFidelites %}
            <tr>
                <td><a href="{{ path('cartefidelites_show', { 'id': carteFidelite.id }) }}">{{ carteFidelite.code }}</a></td>
                <th>{{ carteFidelite.client.prenom }} {{ carteFidelite.client.nom }}</th>
                <td>{{ carteFidelite.dateCreationCarte }}</td>
                <td>{{ carteFidelite.soldeCarte }}</td>
                <td>{{ carteFidelite.evaluationCarte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cartefidelites_show', { 'id': carteFidelite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cartefidelites_edit', { 'id': carteFidelite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}
