{% extends 'MyAppUserBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Demande</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ demande.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ demande.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ demande.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ demande.telephone }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ demande.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('demande_edit', { 'id': demande.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
